/* 全局样式 */
body{
    /* padding-left:384px; */
    box-sizing: border-box;
}
.chatBoxInner{
    width:100%;
    height: 100vh;
    position:relative;
}
.portrait {
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: inherit;
    font-family:"Helvetica Neue Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: rgb(240, 133, 124);
}
.portrait[odd-even='0'][data-sex='1']{
    background: #6BB5CE;
}
.portrait[odd-even='0'][data-sex='0']{
    background: #FF943E;
}
.portrait[odd-even='1'][data-sex='1']{
    background: #78C06E;
}
.portrait[odd-even='1'][data-sex='0']{
    background: #F65E5E;
}
/* 点提示 */
.Presence {
    border-radius: 50%;
    display: inline-block;
    background-color: #20e600;
}

.Presence--stacked {
    position: absolute;
    right: -2px;
    bottom: 2px;
    margin: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #00a0ff;
}
.offline .Presence {
    background-color: #8e969f;
}
/* iconfont */
@font-face {font-family: "iconfont";
    src: url('../../static/font/iconfont.eot'); /* IE9*/
    src: url('../../static/font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../static/font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../../static/font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../static/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 选择框 */
.aui-checkbox{
    width: 22px;
    min-height:22px;
    height: 22px;
    margin:0px;
    outline: none !important;
    font-size: 20px;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    background-color: #ffffff;
    transition: background-color ease 0.1s;
    position:relative;
}
.aui-checkbox[type=radio]{
    border-radius: 50%;
}
.aui-checkbox[type=checkbox]{
    border-radius: 4px;
}
.aui-checkbox:checked {
    background-color: #38ADFF;
    /*border: solid 1px #38ADFF;*/
    border: 0px;
    text-align: center;
}
.aui-checkbox:checked:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font-family: "iconfont";
    content: "\e6ad";
    color: #ffffff;
}
.aui-checkbox:checked:after {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font-family: "iconfont";
    content: "\e6ad";
    color: #ffffff;
}
.aui-checkbox:disabled {
    border: solid 1px #d9d9d9;
    background-color:#FFFFFF;
}
.aui-checkbox:disabled:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font-family: "iconfont";
    content: "";
    color: #ffffff;
}
.aui-checkbox:disabled:after {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font-family: "iconfont";
    content: "";
    color: #ffffff;
}
.aui-checkbox:checked:disabled {
    background-color: #d9d9d9;
    border: 0px;
    /*border: solid 1px #d9d9d9;*/
}
.aui-checkbox:checked:disabled:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font-family: "iconfont";
    content: "\e6ad";
    color: #ffffff;
}
.aui-checkbox:checked:disabled:after {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font-family: "iconfont";
    content: "\e6ad";
    color: #ffffff;
}
.aui-checkbox[noAllSelect=true]{
    background-color: #38ADFF;
    border: 0px;
    text-align: center;
}
.aui-checkbox[noAllSelect=true]:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font-family: "iconfont";
    content: "\e6fe";
    color: #ffffff;
}
.aui-checkbox[noAllSelect=true]:after {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    font-family: "iconfont";
    content: "\e6fe";
    color: #ffffff;
}
/* elementUI dialog修改 */
.is-fullscreen{
    background: rgba(0, 0, 0, .1) !important;
}
.is-fullscreen .el-dialog__header{
    display: none;
}
.is-fullscreen .el-dialog__body{
    height:100%;
}
.items .el-input__inner{
    padding:0 5px;
}
/* .templateDetail .el-input__inner:disabled{
    color:#606266 !important;
} */
/* 幼儿出勤cell样式 */
.note-attendance-bg-red{
    background-color: #ffb6c1 !important;
    /* background-color: rgba(255,182,193,.4); */
}
.note-attendance-bg-gray{
    background-color: #d3d3d3 !important;
}
.note-attendance-bg-green{
    background-color: #90ee90 !important;
    /* background-color: rgba(144,238,144,.4); */
}
.note-attendance-bg-black{
    background-color: #696969 !important;
}
.note-attendance-bg-blue{
    background-color: #38adff !important;
    color: #ffffff;
}
.note-attendance-bg-yellow{
    background-color: #FF9D00 !important;
    color: #ffffff;
}
.note-attendance-height{
    padding:8px 0 !important;
}
.note-attendance-color-red{
    color: #e51c23 !important;
}
.smallTableHeight .el-table th{
    padding:0 !important;
}
.smallTableHeight .el-table td{
    padding:5px 0 !important;
}
.xlsx-button{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    /* background: #fff;
    border: 1px solid #dcdfe6; */
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    padding: 10px 20px !important;
    font-size: 14px !important;
    border-radius: 4px;
    color: #fff;
    background-color: #409EFF;
    border-color: #409EFF;
}
/* 申领申请 */
.ReceiveApplyDetail_signatory > label{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
/* 审批 */
/* .examineApproveTabs .el-tabs__nav-scroll{
    position: fixed;
    left: 400px;
    top: 80px;
} */
.examineApproveTabs .el-tabs__nav{
    width: 100% !important;
}
.examineApproveTabs .el-tabs__nav .el-tabs__item{
    width: 20% !important;
    /* padding: 0 !important; */
    text-align: center;
}
@media screen and (max-width: 985px){
    .examineApproveTabs .el-tabs__nav .el-tabs__item{
        white-space: nowrap;
	    text-overflow: ellipsis;
	    word-wrap: normal;
	    overflow: hidden;
    }
}
.ellipsis .el-input--small .el-input__inner {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    overflow: hidden;
}
.examineApproveList .el-tabs__content{
    overflow: auto !important;
}
.goodsApplyTabs .el-tabs__nav{
    width: 100% !important;
}
.goodsApplyTabs .el-tabs__nav .el-tabs__item{
    width: 25% !important;
    /* padding: 0 !important; */
    text-align: center;
}
@media screen and (max-width: 985px){
    .goodsApplyTabs .el-tabs__nav .el-tabs__item{
        white-space: nowrap;
	    text-overflow: ellipsis;
	    word-wrap: normal;
	    overflow: hidden;
    }
}
.goodsApplyTabs .el-tabs__content{
    overflow:scroll !important;
}
.myDatabaseTree .el-tree-node>.el-tree-node__children{
    overflow: visible;
}
/* .quillEditor .el-form-item__content{
    line-height: 0px !important;
}
.quillEditor .el-form-item__label{
    line-height: 0px !important;
    padding-top: 20px;
} */
.ql-container{
    height: 80% !important;
}
.el-pagination button{
    background-color: #fafafa !important;
}
.el-pagination .el-pager li{
    background-color: #fafafa !important;
}
.midTableHeight .el-table th{
    padding:5px 0 !important;
}
.midTableHeight .el-table td{
    padding:5px 0 !important;
}
.midTableHeight .el-table .el-checkbox{
    margin-bottom: 0;
}
.el-table .grayRow {
    background-color:rgba(221, 231, 240, 0.5);
}
.el-table .grayRowDeep {
    background-color:rgba(221, 231, 240, 0.9);
}
.el-table .redRow {
    background-color:rgba(229,28,35,0.7);
    /* background-color:#FFFACD; */
}
.el-table .orangeRow {
    background-color:rgba(255,157,0,0.7);
    /* background-color:#FFFACD; */
}
.midTableHeight .el-table .el-table__footer-wrapper .el-table__footer tr td:nth-child(1){
    text-align: center !important;
}
.el-table .lineHeight16 .cell{
    line-height: 16px !important;
}
.el-table--enable-row-hover .el-table__body .otherhover:hover .redRow{
    background-color: rgba(229,28,35) !important;
}
.el-table--enable-row-hover .el-table__body .otherhover:hover .orangeRow{
    background-color: rgba(255,157,0) !important;
}
.el-table--enable-row-hover .el-table__body tr:hover .nohover{
    background-color: rgba(255,157,0,0) !important;
}
/* .el-table--enable-row-hover .el-table__body .nohover .redRow:hover{
    background-color: rgba(229,28,35,0.8) !important;
}
.el-table--enable-row-hover .el-table__body .nohover .orangeRow:hover{
    background-color: rgba(255,157,0,0.8) !important;
} */
.el-tooltip__popper{
    max-width: 400px;
}
.groupPopover{
    padding: 0px !important;
    /* width: 100px !important; */
}
.ChargeExpendList .chargeCard .chargeCardItem .dateAndprice .el-icon-date:before{
    /* padding-left: 2px !important; */
    content: "";
}
.ChargeExpendList .chargeCard .chargeCardItem .dateAndprice .el-input__inner{
    border: 0px;
    background-color: rgba(255, 157, 0, 0);
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: #38adff;
    margin-top: 5px;
    cursor: default;
    height: 14px;
    margin:0;
}
.groupEcharts .subDialog .el-dialog__title{
    font-weight: bold;
}
.groupEcharts .subDialog .el-dialog__body{
    padding:0 !important;
}
.groupEcharts .chargeBillDialog .el-dialog__title{
    font-weight: bold;
}
.groupEcharts .chargeBillDialog .el-dialog__body{
    padding-top:0 !important;
    padding-bottom:50px !important;
}
.tuitionIncomeTabs .el-tabs__nav{
    width: 100% !important;
}
.tuitionIncomeTabs .el-tabs__nav .el-tabs__item{
    width: 50% !important;
    /* padding: 0 !important; */
    text-align: center;
}
@media screen and (max-width: 985px){
    .tuitionIncomeTabs .el-tabs__nav .el-tabs__item{
        white-space: nowrap;
	    text-overflow: ellipsis;
	    word-wrap: normal;
	    overflow: hidden;
    }
}
.tuitionIncomeTabs .el-tabs__content{
    overflow:scroll !important;
}
.ParentschoolContactList .el-radio__label{
    padding-left: 5px !important;
}
.setYearHoliday .el-date-picker__header .el-icon-d-arrow-left{
    display: none !important;
}
.setYearHoliday .el-date-picker__header .el-icon-d-arrow-right{
    display: none !important;
}
.setYearHoliday .el-date-picker__header .el-date-picker__header-label:first-of-type{
    display: none !important;
}
.setYearHoliday .el-picker-panel__content .el-date-table tr:first-of-type{
    display: none !important;
}
.workTimeSet .el-dialog__body{
    padding-top: 0px !important;
}
.summaryColor .el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td{
    background-color: #FF9D00 !important; 
    color: #fff;
    font-weight: bold;
}
.summaryColor .el-table--enable-row-hover .el-table__body tr:hover td{
    background-color: rgba(221, 231, 240) !important;
}
.commandTaskTabs .el-tabs__nav{
    width: 100% !important;
}
.commandTaskTabs .el-tabs__nav .el-tabs__item{
    width: 33.33% !important;
    /* padding: 0 !important; */
    text-align: center;
}
@media screen and (max-width: 985px){
    .commandTaskTabs .el-tabs__nav .el-tabs__item{
        white-space: nowrap;
	    text-overflow: ellipsis;
	    word-wrap: normal;
	    overflow: hidden;
    }
}
.commandTaskTabs .el-tabs__content{
    overflow:scroll !important;
}